/* fade-transform */
.fade-transform--move,
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* logo-title transition */
.logo-title-enter-active,
.logo-title-leave-active {
  transition: all .5s;
}

.logo-title-enter,
.logo-title-leave-active {
  opacity: 0;
  transform: translateX(-120px);
}

.logo-title-move {
  transition: all .5s;
}

.logo-title-leave-active {
  position: absolute;
}
